<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advice</key>
	<string>advice</string>
	<key>agendum</key>
	<string>agenda</string>
	<key>aircraft</key>
	<string>aircraft</string>
	<key>alumnus</key>
	<string>alumni</string>
	<key>analysis</key>
	<string>analyses</string>
	<key>appendix</key>
	<string>appendices</string>
	<key>axis</key>
	<string>axes</string>
	<key>bacterium</key>
	<string>bacteria</string>
	<key>basis</key>
	<string>bases</string>
	<key>breeches</key>
	<string>breeches</string>
	<key>calf</key>
	<string>calves</string>
	<key>child</key>
	<string>children</string>
	<key>cod</key>
	<string>cod</string>
	<key>crisis</key>
	<string>crises</string>
	<key>criterion</key>
	<string>criteria</string>
	<key>curriculum</key>
	<string>curricula</string>
	<key>datum</key>
	<string>data</string>
	<key>deer</key>
	<string>deer</string>
	<key>drawers</key>
	<string>drawers</string>
	<key>elf</key>
	<string>elves</string>
	<key>ellipse</key>
	<string>ellipses</string>
	<key>foot</key>
	<string>feet</string>
	<key>formula</key>
	<string>formulas</string>
	<key>furniture</key>
	<string>furniture</string>
	<key>goose</key>
	<string>geese</string>
	<key>gymnasium</key>
	<string>gymnasia</string>
	<key>half</key>
	<string>halves</string>
	<key>index</key>
	<string>indices</string>
	<key>information</key>
	<string>information</string>
	<key>jeans</key>
	<string>jeans</string>
	<key>knife</key>
	<string>knives</string>
	<key>leaf</key>
	<string>leaves</string>
	<key>life</key>
	<string>lives</string>
	<key>loaf</key>
	<string>loaves</string>
	<key>locus</key>
	<string>loci</string>
	<key>louse</key>
	<string>lice</string>
	<key>luggage</key>
	<string>luggage</string>
	<key>man</key>
	<string>men</string>
	<key>memorandum</key>
	<string>memoranda</string>
	<key>moose</key>
	<string>moose</string>
	<key>mouse</key>
	<string>mice</string>
	<key>news</key>
	<string>news</string>
	<key>nucleus</key>
	<string>nuclei</string>
	<key>octopus</key>
	<string>octopi</string>
	<key>ox</key>
	<string>oxen</string>
	<key>parenthesis</key>
	<string>parentheses</string>
	<key>phenomenon</key>
	<string>phenomena</string>
	<key>radius</key>
	<string>radii</string>
	<key>salmon</key>
	<string>salmon</string>
	<key>scenery</key>
	<string>scenery</string>
	<key>scissors</key>
	<string>scissors</string>
	<key>self</key>
	<string>selves</string>
	<key>series</key>
	<string>series</string>
	<key>sheep</key>
	<string>sheep</string>
	<key>shelf</key>
	<string>shelves</string>
	<key>shorts</key>
	<string>shorts</string>
	<key>spacecraft</key>
	<string>spacecraft</string>
	<key>species</key>
	<string>species</string>
	<key>spectacles</key>
	<string>spectacles</string>
	<key>swine</key>
	<string>swine</string>
	<key>syllabus</key>
	<string>syllabi</string>
	<key>terminus</key>
	<string>termini</string>
	<key>thesis</key>
	<string>theses</string>
	<key>tights</key>
	<string>tights</string>
	<key>tongs</key>
	<string>tongs</string>
	<key>tooth</key>
	<string>teeth</string>
	<key>trousers</key>
	<string>trousers</string>
	<key>wife</key>
	<string>wives</string>
	<key>wolf</key>
	<string>wolves</string>
	<key>woman</key>
	<string>women</string>
	<key>phenomena</key>
	<string>phenomenon</string>
</dict>
</plist>
